* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Rubik"; 
    src: url("font/Rubik-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}

html {
    font-family: 'Nunito', sans-serif;
    font-family: 'Rubik', sans-serif;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

