.connect_right_side {
    font-family: Rubik;
    font-size: 36px;
    line-height: 54px;
    font-weight: 550;
    color: #282b2f;
    margin-bottom: 0px;
}

.connect_text {
    font-family: Rubik;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    color: #455a63;
    margin-bottom: 10px;
}

.button_all_news, .button_all_news:link {
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    color: #009688;
    padding: auto;
}

.button_all_news:hover {
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    color: #ffffff;
    padding: auto;
}

.button_all_news_block, .button_all_news_block:link {
    margin-top: 25px;
    height: 52px;
    border: 2px solid #009688;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
}

.button_all_news_block:hover {
    margin-top: 25px;
    height: 52px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    background-color: #009688;
    color: #ffffff;
}

.vertical_text {
    padding-top: 10px;
}

.input_block {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-basis: 100%;
    flex-wrap: nowrap;
    
}

.space_input {
    height: 52px;
    border: 2px solid #e0e9f0;
    border-radius: 5px;
    margin-bottom: 10px;
}

.text_input {
    height: 140px;
}

.button_send, .button_send:link {
    height: 52px;
    width: 100%;
    background-color: #009688;
    border-radius: 5px;
    color: #ffffff;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
}

.button_send:hover {
    height: 52px;
    width: 100%;
    background-color: transparent;
    border-radius: 5px;
    color: #009688;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
}