.header_h4 {
    font-size: 22px;
    line-height: 38px;
    font-weight: 550;
    color: #282b2f;
    margin-top: 70px;
}

.text_general_parametrs_3part {
    font-family: Rubik;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    color: #455a63;
}

.images_3_block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
    flex-wrap: nowrap;
    align-items: stretch;

}

.images_3_1 {
    max-width: 300px;
    max-height: 300px;
    padding: 0  10px 0 0;
    border-radius: 5px 0px 0px 5px;
}

.images_3_2 {
    width: 210px;
    height: 300px;
    padding: 0;
}

.images_3_3 {
    max-width: 300px;
    max-height: 300px;
    padding: 0 0 0 10px;
    border-radius: 0px 5px 5px 0px;
}

.text_1_line {
    margin-top: 40px;
    font-family: Rubik;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    color: #455a63;
}

.list_woomen_watches{
    margin-top: 30px;
    padding-left: 18px;
    margin-bottom: 40px;
}

.woomen_watches_item{
    font-family: Rubik;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    color: #282b2f;
}

.blue_line_full_screen {
    border-bottom: 1px solid #e0e9f0;
    margin-left: -80px;
    margin-right: -30px;
}

