ul.breadcrumb {
    padding-left: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

.breadcrumb_items {
    display: inline;

}

.breadcrumb_items.item_1 {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #282b2f;
}

.breadcrumb_items.item_2 {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #78909c;
}

ul.breadcrumb li+li:before{
    padding-left: 12px;
    padding-right: 12px;
    color: black;
    content: ">";
}