.footer_1 {
    height: 115px;
    width: 100%;
}
.blue_line_footer{
    height: 1px;
    background-color: #e0e9f0;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.block_img_networks {
    display: flex;
    width: 165px;
    justify-content: space-between;
    align-items: center;
}

.img_net_1, .img_net_2 {
    width: 20px;
    height: 20px;
}

.img_net_3 {
    width: 11px;
    height: 20px;
}

.img_net_4 {
    width: 18px;
    height: 17px;
}

.footer_rights {
    font-size: 14px;
    line-height: 38px;
    font-weight: 450;
    color: #282b2f;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-left: 80px;
    padding-right: 80px;
}