main {
    display: flex;
    align-items: flex-start;
    margin-left: 80px;
    margin-right: 80px;
}

.left_page_block{
    padding-right: 30px;
    max-width: 70%;
}

.right_page_block{
    padding-left: 30px;
    max-width: 30%;
}

.text_general_parametrs {
    font-family: Rubik;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    color: #455a63;
}

.header_h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 44px;
    line-height: 54px;
    font-weight: 550;
    color: #282b2f;
}

.text_bottom_part {
    margin-top: 18px;
}

.big_center_photo {
    width: 100%;
    max-height: 374px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.part_2 {
    margin-top: 30px;
}