header {
    width: 100%;
    height: 100px;
    background-color: #f5f8fb;
    margin: 0;
    border-bottom: 1px solid #e0e9f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
}

.logo {
    font-size: 32px;
    line-height: 22px;
    font-weight: 500;
    color: #000000;
}

.logo_time {
    color: #009688;
}

.small_headers {
    font-size: 18px;
    line-height: 22px;
    font-weight: 550;
    color: #282b2f;
}

.contacts_block {
    display: flex;
}

.telephones_img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    margin-top: 5px;
}