.header_h3 {
    font-family: Rubik;
    font-size: 28px;
    line-height: 38px;
    font-weight: 550;
    color: #282b2f;
    margin-top: 70px;
}

.text_midle_part {
    font-family: Rubik;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    color: #455a63;
}

.title_list_watches{
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    font-style: italic;
    color: #546e7a;
    margin-top: 25px;
}

.type_watches {
    font-size: 16px;
    line-height: 40px;
    font-weight: 300;
    font-style: italic;
    text-decoration: underline;
    color: #1976d2;
    padding-left: 12px;
}

.list_watches {
    list-style: none;
    padding-left: 0;

}

.tire {
    font-weight: bold;
}

.text_part_2 {
    margin-top: 20px;
}