.navigation {
    padding-left: 80px;
    padding-right: 80px;
    height: 50px;
    border-bottom: 1px solid #e0e9f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
