.research_img {
    margin-top: 38px;
    max-height: 52px;
    border: 2px solid #e0e9f0;
    border-radius: 5px;
    width: 100%;
}

.right_h2 {
    font-size: 36px;
    line-height: 54px;
    font-weight: 500;
    color: #282b2f;
}

.cards_img {
    width: 100%;
    max-height: 200px;
    border-radius: 5px;
}

.cards_header {
    font-size: 18px;
    line-height: 26px;
    font-weight: 550;
    color: #282b2f;
    padding-top: 18px;
}

.cards_data {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #bdc6ca;
}

.cards_description {
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    color: #455a63;
    padding-top: 10px;
    padding-bottom: 13px;
    font-family: Rubik;
}

.cards_read_full {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    text-decoration: underline;
    color: #009688;
    font-family: Rubik;
}

.right_block_blue_line {
    height: 1px;
    background-color: #e0e9f0;
    margin-top: 20px;
    margin-bottom: 27px;
}