.otstup {
    margin-top: 40px;
}

.blue_line_right_screen {
    border-bottom: 1px solid #e0e9f0;
    margin-right: -30px;
    margin-top: 40px;
}

.table_1 {
    margin-left: 30px;
    width: 100%;
    text-align: center;
    border-spacing: 0px;
    border-collapse: collapse;
}

.table_header {
    font-size: 18px;
    line-height: 38px;
    font-weight: 550;
    color: #282b2f;
    padding: auto;
}

.table_data {
    font-size: 16px;
    line-height: 38px;
    font-weight: 450;
    color: #282b2f;
    padding: auto;
}

.table_link {
    font-size: 16px;
    line-height: 38px;
    font-weight: 450;
    font-style: italic;
    text-decoration: underline;
    color: #1976d2;
}

.line_blue {
    background-color: #f8f8f8;
    border-collapse: collapse;
}

.text_tabs{
    font-family: Rubik;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    color: #546e7a;
}
